<div style="background-color: rgb(125, 125, 133);" style="color: white;" style="display: flex;" >
    <h1>please contect with us</h1>
    <a href="#">contact</a><br>
    <a href="#">home</a><br>
    <a href="#">about</a><br>
    <a href="#">message</a><br>
</div>