<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>This is home page</h1>
    <h3><%=  ["Aman", "danish" , "waxir"][0]  %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores blanditiis dolorum doloremque atque adipisci. Deserunt sunt consequatur, vitae recusandae optio provident quos aspernatur nobis numquam, facere temporibus cupiditate, non dolor!</p>
    <button>clickme</button>
</body>
</html>