
<%- include("includes/head.ejs")  %>
<body>
    <h1>This is home page</h1>
    <h3><%=  ["Aman", "danish" , "waxir"][0]  %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores blanditiis dolorum doloremque atque adipisci. Deserunt sunt consequatur, vitae recusandae optio provident quos aspernatur nobis numquam, facere temporibus cupiditate, non dolor!</p>
    <button>clickme</button>

    <%- include("includes/footer.ejs") %>
</body>
</html>