<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New psot</title>
    <link rel="stylesheet" href="new.css">
</head>
<body>
    <form class="form-handle" method="post" action="/posts">
        <input  placeholder="enter text..." name="username">
        <textarea placeholder="this is text area" name="content"></textarea>
        <button>submit posts</button>
    </form>
</body>
</html>